// .mat-list {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }

.myCard {
  max-width: 400px;
}

.charImage {
  background-size: cover;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.items-center {
  align-items: center;

}

.bg {
  background-color: yellow;
}

.mat-card {
  font-family: 'Fira Sans'
}

.mat-card-header {
  padding-bottom: .5em
}
